html {
	font-size: 16px;
}
body {
	background-color: #afadea;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#main {
	background-color: #e1e0ff;
}
#title {
	color: #7974e8;
}
#description {
	color: #8a87c6;
}
.questions {
	text-align: right;
}
.qCheckRadio {
	text-align: right;
	padding-right: 0;
}
#submit {
	background-color: #9893ff;
}
#made {
	color: #eae8ff;
}

/*// Smaller Devices*/
@media screen and (max-width: 768px) and (max-height: 768px){
	.px-5 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.questions, .qCheckRadio {
		text-align: left;
	}
}